html, body
{
	margin: 0;
	padding: 0;
	background: whitesmoke;
}

*
{
	box-sizing: border-box;
}

.example-panel
{
	width: 1170px;
	margin: 200px auto;
	padding: 15px;
	background: ghostwhite;
	border: 1px solid white;
	outline: 1px solid lightgray;
}

hr
{
	border: 0;
	border-top: 1px dashed gray;
}

/**
 * ===================================================================
 *									SVG
 * ===================================================================
 */

.icon
{
	padding: 10px;
	background: mediumseagreen;
	border-radius: 10px;
	width: 36px;
	height: 36px;
}

.icon *
{
	fill: ghostwhite;
}

/**
 * ===================================================================
 *								TOOLTIPS
 * ===================================================================
 */

.tooltip-object
{
	color: slateblue;
	border-bottom: 1px dashed slateblue;
	cursor: help;
}