/**
 * ===================================================================
 *									SVG
 * ===================================================================
 */

.icon
{
	padding: 10px;
	background: mediumseagreen;
	border-radius: 10px;
	width: 36px;
	height: 36px;
}

.icon *
{
	fill: ghostwhite;
}

/**
 * ===================================================================
 *								TOOLTIPS
 * ===================================================================
 */

