html, body
{
	background: whitesmoke;
}

.example-panel
{
	width: 1170px;
	margin: 200px auto;
	padding: 15px;
	background: ghostwhite;
	border: 1px solid white;
	outline: 1px solid lightgray;
}

hr
{
	border: 0;
	border-top: 1px dashed gray;
}

.example-section
{
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 4px;
}

.example-section + .example-section
{
	margin-top: 5px;
}

small
{
	font-size: 10px;
}

a
{
	text-decoration: none;
	color: slateblue;
	transition: .1s;
}

a:hover
{
	color: darkslateblue;
}

/**
 * ===================================================================
 *							CONTROL ELEMENTS
 * ===================================================================
 */

input + label
{
	margin-top: 5px;
}

input,
combo-box > input:disabled
{
	background: white;
	color: rgba(0, 0, 0, .87);
	border: 1px solid lightgray;
	border-radius: 2px;
	font-size: 14px;
	padding: 5px;
	transition: .15s;
}

input:focus
{
	outline: none;
	border-color: slateblue;
}

.ir-cb-hints
{
	background: white;
	border: 1px solid slateblue;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .2);
}

.ir-cb-hint
{
	padding: 4px;
	transition: 0.12s;
}

.ir-cb-hint:hover,
.ir-cb-hint.selected
{
	background: mediumslateblue;
	color: white;
}

/**
 * ===================================================================
 *									SVG
 * ===================================================================
 */

.icon
{
	padding: 10px;
	background: mediumseagreen;
	border-radius: 10px;
	width: 48px;
	height: 48px;
}

.icon *
{
	fill: ghostwhite;
}

/**
 * ===================================================================
 *								TOOLTIPS
 * ===================================================================
 */

.tooltip-object
{
	color: slateblue;
	border-bottom: 1px dashed slateblue;
	cursor: help;
}

/**
 * ===================================================================
 *								ANIMATION
 * ===================================================================
 */

.anim-box
{
	width: 100px;
	height: 100px;
	background: red;
}

/**
 * ===================================================================
 *								POPUP
 * ===================================================================
 */

.ir-pp-window
{
	background: white;
}

.ir-pp-header
{
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

.ir-pp-content
{
	padding: 10px;
}

.ir-pp-buttons
{
	padding: 10px;
	float: right;
}

.ir-pp-buttons button + button
{
	margin-left: 5px;
}

.ir-pp-close-btn
{
	position: absolute;
	top: -42px;
	right: -10px;
	margin-left: 10px;
	font-family: monospace;
	font-size: 24px;
	font-weight: normal;
	background: none;
	padding: 5px 10px;
}

.ir-pp-close-btn:hover
{
	color: white;
	background: none;
	box-shadow: none;
}