.ir-tooltip-obj
{
	position: fixed;
	max-width: 350px;
	padding: 5px;
	z-index: 3000;
	font-size: 14px;
	line-height: 18px;
	background: ghostwhite;
	border: 1px solid white;
	outline: 1px solid lightgray;
	box-shadow: 0 0 20px 0 rgba(13, 28, 36, .2);
}

.ir-tooltip-obj.top:after,
.ir-tooltip-obj.top:before,
.ir-tooltip-obj.bottom:after,
.ir-tooltip-obj.bottom:before,
.ir-tooltip-obj.left:after,
.ir-tooltip-obj.left:before,
.ir-tooltip-obj.right:after,
.ir-tooltip-obj.right:before
{
	content: '';
	position: absolute;
}

.ir-tooltip-obj.top:after
{
	left: calc(50% - 8px);
	bottom: -8px;

	border-width: 8px 8px 0 8px;
	border-color: ghostwhite transparent transparent transparent;
	border-style: solid;
}

.ir-tooltip-obj.top:before
{
	left: calc(50% - 10px);
	bottom: -10px;

	border-width: 10px 10px 0 10px;
	border-color: lightgray transparent transparent transparent;
	border-style: solid;
}

.ir-tooltip-obj.bottom:after
{
	left: calc(50% - 8px);
	top: -8px;

	border-width: 0 8px 8px 8px;
	border-color: transparent transparent ghostwhite transparent;
	border-style: solid;
}

.ir-tooltip-obj.bottom:before
{
	left: calc(50% - 10px);
	top: -10px;

	border-width: 0 10px 10px 10px;
	border-color: transparent transparent lightgray transparent;
	border-style: solid;
}

.ir-tooltip-obj.left:after
{
	top: calc(50% - 8px);
	right: -8px;

	border-width: 8px 0 8px 8px;
	border-color: transparent transparent transparent ghostwhite;
	border-style: solid;
}

.ir-tooltip-obj.left:before
{
	top: calc(50% - 10px);
	right: -10px;

	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent lightgray;
	border-style: solid;
}

.ir-tooltip-obj.right:after
{
	top: calc(50% - 8px);
	left: -8px;

	border-width: 8px 8px 8px 0;
	border-color: transparent ghostwhite transparent transparent;
	border-style: solid;
}

.ir-tooltip-obj.right:before
{
	top: calc(50% - 10px);
	left: -10px;

	border-width: 10px 10px 10px 0;
	border-color: transparent lightgray transparent transparent;
	border-style: solid;
}